* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    height: 100vh;
    display: grid;
    grid-template-rows: 12% 1fr 7%;
}

.header-container {
    background-color: white;
    box-shadow: 0 5px 5px lightgray;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;

    & h1 {
        font-size: 2.5rem;
    }

    & ul {
        list-style: none;
        display: flex;
        gap: 20px;

        & li {
            font-size: 1.5rem;
        }
    }
}

.main-container {
    padding: 50px;
    overflow: auto;
    grid-row: 2;
    display: grid;
    justify-items: center;
}

.home-container {
    width: 30%;
    text-align: center;

    & > :not(:last-child) {
        margin-bottom: 20px;
    }
    
    & > p {
        font-size: 1.5rem;
    }

    & .time-table {
        margin-top: 90px;

        & h3 {
            font-size: 1.5rem;
        }

        & p {
            font-size: 1.2rem;
        }

        & :not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.menu-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-flow: column; */

    & .menu-item-card {
        display: grid;
        justify-items: center;
        
        & :not(:last-child) {
            margin-bottom: 10px;
        }
        
        & img {
            border: 5px double black;
            border-radius: 5px;
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
    }
}

.contact-container {
    text-align: center;

    & h1 {
        margin-bottom: 40px;
    }

    & :not(:first-child, :last-child) {
        margin-bottom: 20px;
    }
}

.footer-container {
    font-size: 1.2rem;
    background-color: white;
    box-shadow: 0 -5px 5px lightgrey; 
    grid-row: 3;
    display: grid;
    place-items: center;
}