* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:sans-serif;
    background: url("./images/cupcake-background.jpg") no-repeat;
    background-size: cover;
}

#content {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header-container {
    background-color: white;
    padding: 10px;
    grid-row: 1;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1;

    & h1 {
        font-size: 2.5rem;
    }

    & ul {
        list-style: none;
        display: flex;
        gap: 20px;

        & li {
            font-size: 1.5rem;
        }

        & li:hover {
            border-bottom: 1px solid black;
        }

    }
}

.main-container {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 50px;
    overflow: auto;
    grid-row: 2;
}

.home-container {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;

    & > :not(:last-child) {
        margin-bottom: 20px;
    }
    
    & > p {
        font-size: 1.5rem;
    }

    & .time-table {
        margin-top: 90px;

        & h3 {
            font-size: 1.5rem;
        }

        & p {
            font-size: 1.2rem;
        }

        & :not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.menu-container {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    & .menu-item-card {
        display: grid;
        justify-items: center;
        
        & :not(:last-child) {
            margin-bottom: 10px;
        }
        
        & img {
            border: 5px double white;
            border-radius: 5px;
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
    }
}

.contact-container {
    text-align: center;

    & h1 {
        margin-bottom: 40px;
    }

    & :not(:first-child, :last-child) {
        margin-bottom: 20px;
    }
}

.footer-container {
    font-size: 1.2rem;
    background-color: white; 
    padding: 10px;
    grid-row: 3;
    display: grid;
    place-items: center;
}